# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
**/GeneratedPluginRegistrant.*

# IDEs
.idea/
.vscode/
android/.gradle/

# Platform specific
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/GeneratedPluginRegistrant.swift

# Env files
.env
.env.*
